
.containerItemDetail {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2%;
}

.containerImage{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.containerImage > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 20px;
}

.containerDetail{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
    color: gray;
}

.color{
    color: black;
}

.color1{
    color: orange;
}