.cardGral{
   margin: 15px;
   border-color:black;
   border: ridge;
}

.typographyCards{
    justify-content:center;
    background-color: white;    
}

.button{
    text-decoration: none;
    padding: 5px;
}